{% extends "base.html" %}
{% block content %}

    <h2 class="light-blue-text text-darken-4 center-align">Your To Do List</h2>

    <ul class="collapsible">
        {% if 'username' in session %}
            {% for to_do in to_do %}
            <li>
                <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                    <div class="col-s3">
                        <i class="fas fa-caret-down"></i>
                        <a href="{{ url_for('delete_item', delete_item_id=to_do._id) }}" class="waves-effect waves-light btn">DONE</a>
                        <a href="{{ url_for('edit_item', edit_item_id=to_do._id) }}" class="waves-effect waves-light btn">EDIT</a>
                    </div>
                    <div class="col-s9">
                        <strong>{{ to_do.item_name }}</strong> : {{ to_do.due_date }}
                        {% if to_do.is_urgent == "on" %}
                            <i class="fas fa-exclamation-circle light-blue-text text-lighten-2 tooltipped"
                                data-position="right" data-tooltip="URGENT!"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="collapsible-body">
                    <p>{{ to_do.item_detail }}</p>
                    <p><em>by: {{ to_do.created_by }}</em></p>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <p>You need to login or register</p>
        {% endif %}
    </ul>

{% endblock %}
